$white: white;
$border-radius: 2px;
$success: #4CAF50;
$danger: #D50000;
$info: #55acee;
$warning: #efdb13;
$background-color: #eeecec;
$color: #616161;
$border-color: #ccc;
$border-radius-base: 3px;
//Theme
$primary: #37474F;
$accent: #FF5252;
//Sidemenu
$side-background: #37474F;
$side-color: white;
$side-header: #263238;
//Border
$border-color: #F3F3F3;
