@import 'variables';
@import 'mixin';
@import 'components';
@import 'utilities';
@import 'fonts';
@import '../components/component-page/componentPage';
@import '../components/loader/loader';
@import '../components/login/login';

.padding {
  padding: 8px;
}

body {
  color: $color;
  background: $background-color;
  fill: $color;
}

.main-tabs-header {
  md-toolbar.main-toolbar:before {
    display: none;
  }


  .header-tabs-content md-tabs-wrapper {
    display: none;
  }
}

.error-message {
  margin-bottom: 20px;
  color: $danger;
}

.content-hover {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  animation-duration: .5s;
  background: $white;

  @include transition();
}

.login-content {
  // background-image: url(../imgs/background.png);
  // background-size: cover;
  // background-position: center;
  .logo {
    margin-bottom: 60px;
    text-align: center;

    img {
      max-width: 100px;
      max-height: 100px;
    }
  }

  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    max-width: calc(100% - 30px);
    height: 360px;
    margin: auto;
  }
}

.md-sidenav-left {
  max-width: 250px;
  color: $side-color;
  background: $side-background;
  fill: $side-color;

  header {
    background: $side-header;
    fill: white;

    .logo {
      margin: 10px 0;
      text-align: center;

      img {
        max-width: 100px;
        max-height: 100px;
      }

      p {
        float: none;
        width: 100%;
        padding: 10px 0;
      }
    }

    p {
      float: left;
      overflow: hidden;
      width: calc(100% - 100px);
      margin: 0;
      padding: 19px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    md-menu {
      float: right;
    }
  }

  .md-button {
    display: block;
    text-align: left;
    text-transform: none;
  }
}

.main-content {
  display: block;
  padding-bottom: 90px;
  background: none;

  @include media-max-breakpoints(xs) {
    margin: -5px;
    padding: 0;
    padding-bottom: 70px;
  }
}
