.login-page {
    background: $primary;
    height: 100%;
    width: 100%;

    .logo {
        margin-bottom: 20px;
        text-align: center;

        img {
            max-width: 100px;
            max-height: 100px;
        }
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 300px;
        height: 360px;
        max-width: calc(100% - 30px);
    }
}
