md-autocomplete(md-items='item in $ctrl.query($ctrl.text)', md-no-cache="true", md-search-text='$ctrl.text', md-selected-item-change='$ctrl.select(item)', md-item-text='item.description', placeholder='Adicionar um insumo', md-min-length='1')
  md-item-template
    span(md-highlight-text='$ctrl.text', md-highlight-flags='^i') {{item.description}}
  md-not-found
    | Nenhum insumo encontrado