app-title
  span(ng-show="!$ctrl.editing") Novo Evento
  span(ng-show="$ctrl.editing") Editar Evento

form(md-form-validator, ng-submit="$ctrl.submit()", name="eventForm")
  md-card
    md-card-content

      div(layout="row",layout-sm="column",layout-xs="column")
        div(flex)
          md-input-container.md-block
            label Nome
            input(ng-model='$ctrl.model.name', name='name', required)
            md-messages

          md-input-container.md-block
            label Descrição
            textarea(ng-model='$ctrl.model.description', name='description')

          div(ng-repeat="date in $ctrl.model.dates")
            ng-form(layout="row",layout-xs="column", md-form-validator, name="eventDateForm")
              div(flex)
                md-input-container.md-block
                  label Data
                  input(ng-model='$ctrl.model.date', name='name', required, datepicker)
                  md-messages

              div(flex)
                md-input-container.md-block
                  label Inicio
                  input(ng-model='date.begin', name="begin",mask="29:59", hour, required)
                  md-messages

              div(flex)
                md-input-container.md-block
                  label Termino
                  input(ng-model='date.end', name="end", mask="29:59", hour, required)
                  md-messages

            md-button.md-icon-button.text-danger-hover.m-input(ng-click="$ctrl.removeDate(date)",ng-show="$ctrl.model.dates.length > 1")
              md-icon(md-svg-icon="delete")
              md-tooltip Remover


          div(align="right")
            md-button.md-raised.md-primary(ng-click="$ctrl.addDate()") Adicionar

        div(flex=5,hide-sm,hide-xs)

        //div(flex)
          app-place-maps(ng-model="$ctrl.model.location",placeholder="Local")

  div(layout="row")
    div(flex)
      md-button.md-raised(ng-href="/agenda") Cancelar
    div.text-right(flex)
      md-button.md-raised.md-accent(type="submit") Salvar
